/*** CSS VARIABLES***/
$background-color: #f5f8fa;
//button color
$primary-color: #ffe066;
//new entry input background color 
$secondary-color: #ffffb3;
//title container color
$tertiary-color: #fffae6;

/***MEDIA QUARIES***/
$on-xsmall-display: 769px;

/***MIXINS***/
@mixin box-shadow ($thickness){
  -webkit-box-shadow: 0px 0px $thickness 0px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 0px $thickness 0px rgba(0,0,0,0.66);
  box-shadow: 0px 0px $thickness 0px rgba(0,0,0,0.66);
}

body{
    font-family: 'Titillium Web', sans-serif;
    background-color: $background-color;
}
container {
            background-color: white;
}

                /****ACTION SIDEBAR ****/
/*ACTIONS ROW*/
.row1{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:10px;
    @media screen and (max-width: $on-xsmall-display){
      padding-top: 14px;
      padding-bottom: 5px;
      margin-left: 0;
      margin-right: 0;
    }
    
    background-color: white;
    border-radius: 10px;
    
    @include box-shadow(1px);
}
#newEntryButton{
    width: 70px;
    padding-top: 18px;
    padding-bottom: 18px;
    @media screen and (max-width: $on-xsmall-display){
      width: 45px;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    background-color: $primary-color;
    border-radius: 5px;
    border: none;
    
    @include box-shadow(2px);
    span {
      font-size: 25px;
      @media screen and (max-width: 769px){
        font-size: 20px;
      }
    }
}

#appTitle h2{
    margin-top: 15px;
    margin-left: 30px;
    @media screen and (max-width: $on-xsmall-display){
      margin-top: 0;
    }
}
                /****ACTION BUTTON DISPLAY  ****/
/*foodOptionsTemp - Template*/
.actionButtonBackground{
    background-color: black;	
    -moz-opacity: 0.8;	
    opacity:.8;	
    filter: alpha(opacity=80);	
    position:absolute;	
    top:0;	
    left:0;	
    right:0;	
    bottom:0;	
    z-index:2;
}
#newEntryInput{
    position:absolute;
	top:30%;
    z-index:3;
    height: 200px;
    background-color: $secondary-color;
    border-radius: 30px;
}
#newEntryInput > h3 {
    color: black;
    padding-top: 20px;
    padding-bottom:20px;
}
#searchFood input:first-child {
    width: 100%;
    font-size: 22px;
    padding-left: 10px;
    
}
#searchFood input:last-child {
    margin-top:10px;
    
}
                /****DYNAMIC DISPLAYS ****/
/*for both displays*/
.row2{
  @media screen and (max-width: $on-xsmall-display){
      margin-left: 0;
      margin-right: 0;
  }
}
.bigContainer{
    padding: 0;
    margin-top: 15px;
    
    @include box-shadow(2px);
}

/*SEARCH RESULTS DISPLAY */
#searchDivTitleContainer{
    background-color: $tertiary-color;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
}
#resultsContainer{
    height: 70vh;
    background-color:white;
    padding: 0 15px 15px;
    overflow: scroll;
    
}
#loadingIcon{
  padding-top: 40px;
}
/*FOOD ENTRIES DISPLAY*/

#foodDivTitleContainer{
    background-color: $tertiary-color;
    margin: 0;
    padding-top: 6px;
    
    p{
      font-size: 26px;
    }
}

#dynamicContainer{
    background-color:white;
    padding: 0 15px 15px;
    
}
#foodLogDynamic{
    height: 60vh;
    overflow: scroll;
}
#calorieCounter{
    padding: 0 0 1px 14px;
}
                /************TEMPLATES***************/
/*for both templates */
.appButton{
    margin-left: 15px;
    border: none;
    border-radius: 3px;
    
    @include box-shadow(3px);
}
/*SEARCH RESULTS TEMPLATE*/
.foodOption button{
    background-color: #40bf40;
    margin-bottom: 25px;
}
/*FOOD ENTRIES TEMPLATE*/
