body {
    text-align: center;
    background: black;
}

.title {
    font-family: 'Bree Serif', serif;
    color: rgb(230, 184, 0);
    margin-bottom: 0px;
    margin-top: 0px;
    line-height: 12px;
}

#scoreKeeper {
    padding-left:100px;
}


